<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-toggle="dropdown"
    aria-expanded="false"
  >
    {% if '/dashboard/' == request.path %} Dashboard 
    {% elif '/dashboard/categories/' in request.path %} Categories 
    {% elif '/dashboard/users/' in request.path %}  Users 
    {% elif '/dashboard/blogs/' in request.path %} Blogs{% endif %}
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item {% if '/dashboard/' == request.path %} active {% endif %} btn" href="{% url 'dashboard' %}" type="button">Dashboard</a>
    <a class="dropdown-item {% if '/dashboard/categories/' == request.path %} active {% endif %} btn" href="{% url 'categories' %}" type="button">Category</a>
    <a class="dropdown-item {% if '/dashboard/users/' == request.path %} active {% endif %} btn" href="{% url 'users' %}" type="button">Users</a>
    <a class="dropdown-item {% if '/dashboard/blogs/' == request.path %} active {% endif %} btn" href="{% url 'blogs' %}" type="button">Blogs</a>
  </div>
</div>

